node_modules
dist
.next
.turbo
coverage
*.log
.env
.env.local
.env.*.local
!.env.example
playwright-report
test-results
blob-report
.DS_Store
*.tsbuildinfo
artifacts
tmp
.prisma
apps/api/generated
apps/worker/generated
packages/database/prisma/generated
packages/test-runtime/.auth
minio-data
postgres-data
redis-data
*.pem
.vscode/*
!.vscode/extensions.json
.idea
